@import "../../vars.css";

.content {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/homepage-background.jpg");
    background-position: center;
    min-height: 1000px;
    min-width: 100vw;
}

.shoppingBtn {
    background-color: var(--light-blue);
    border: none;
    color: var(--dark-blue);
    text-decoration: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 2rem;
}

.about {
    display: flex;
    margin: 50px;
    gap: 20px;
    align-items: center;
}