@import "../../vars.css";

.content {
    text-align: center;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/homepage-background.jpg");
    background-position: center;
    min-height: 1000px;
    min-width: 100vw;
}

.shoppingLink {
    background-color: var(--accent);
    border: none;
    border-radius: 50px;
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
    padding: 30px 60px;
    text-align: center;
    font-size: 3rem;
}

.shoppingLink:hover {
    transform: scale(1.1);
}

.about {
    display: flex;
    margin: 50px;
    gap: 20px;
    align-items: center;
    max-width: 1500px;
}

.about div {
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
    background-color: var(--main);
}