.container {
    display: grid;
    min-width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 50px;
}

.amount, input {
    width: 50px;
}

.container .item {
    border: 1px solid black;
}