@import "../../vars.css";

.container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main);
    padding: 100px;
    height: 300px;
    border-radius: 10px;
    border: solid black 1px;
    width: 50vw;
}

.container button {
    border-radius: 10px;
    height: 50px;
    box-shadow: none;
    border: none;
    opacity: 0.8;
    background-color: var(--accent);
}

.container button:hover {
    opacity: 1;
    cursor: pointer;
}