.container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 50px;

}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    border: solid black 1px;
}

.container button {
    border-radius: 10px;
    height: 50px;
    box-shadow: none;
    border: none;
    opacity: 0.8;
}

.container button:hover {
    opacity: 1;
    cursor: pointer;
}