@import "../../vars.css";

Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main);
    padding: 10px 100px;
    min-width: 100vw;
    height: 30vh;
    font-size: 2.5rem;
    box-shadow: var(--shadow);
}

ul {
    display: flex;
    align-items: center;
}

header a {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

header a:hover {
    background-color: var(--accent);
}

.navBar {
    display: flex;
    gap: 50px;
}

.cart {
    display: flex;
    align-items: center;
}

.cartQuantity {
    background-color: var(--accent);
    border-radius: 50%;
    width: 60px;
    text-align: center;
}

@media (max-width: 700px) {
    header {
        font-size: 1.5rem;
        padding: 20px;
    }

    .navBar {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .navBar li:nth-child(1) {
        display: none;
    }
}

