@import "../../vars.css";

Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-green);
    color: var(--dark-blue);
    padding: 10px 100px;
    min-width: 100vw;
    height: 100px;
}

.navBar {
    display: flex;
    gap: 10px;
}